[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Khai Nguyen (khainguyentuong)
[access "refs/for/refs/*"]
	read = group user/Khai Nguyen (khainguyentuong)
	push = group user/Khai Nguyen (khainguyentuong)
	label-Code-Review = -2..+2 group user/Khai Nguyen (khainguyentuong)
	label-Verified = -1..+1 group user/Khai Nguyen (khainguyentuong)
	rebase = group user/Khai Nguyen (khainguyentuong)
	removeReviewer = group user/Khai Nguyen (khainguyentuong)
	submit = group user/Khai Nguyen (khainguyentuong)
[access "refs/heads/*"]
	read = group user/Khai Nguyen (khainguyentuong)
	create = group user/Khai Nguyen (khainguyentuong)
	push = +force group user/Khai Nguyen (khainguyentuong)
	pushMerge = group user/Khai Nguyen (khainguyentuong)
[access "refs/tags/*"]
	push = +force group user/Khai Nguyen (khainguyentuong)
	pushTag = group user/Khai Nguyen (khainguyentuong)
	pushSignedTag = group user/Khai Nguyen (khainguyentuong)
